NET D<0> LOC = P59;
NET D<1> LOC = P63;
NET D<2> LOC = P60;
NET D<3> LOC = P61;
NET D<4> LOC = P62;
NET D<5> LOC = P64;
NET D<6> LOC = P1;
NET D<7> LOC = P2;
NET bbc_A<0> LOC = P4;
NET bbc_A<10> LOC = P8;
NET bbc_A<11> LOC = P12;
NET bbc_A<12> LOC = P18;
NET bbc_A<13> LOC = P23;
NET bbc_A<14> LOC = P24;
NET bbc_A<15> LOC = P20;
NET bbc_A<16> LOC = P10;
NET bbc_A<1> LOC = P5;
NET bbc_A<2> LOC = P6;
NET bbc_A<3> LOC = P7;
NET bbc_A<4> LOC = P9;
NET bbc_A<5> LOC = P11;
NET bbc_A<6> LOC = P13;
NET bbc_A<7> LOC = P16;
NET bbc_A<8> LOC = P17;
NET bbc_A<9> LOC = P15;
NET cpld_JP<0> LOC = P22;
NET cpld_JP<1> LOC = P19;
NET cpld_MISO LOC = P25;
NET cpld_MOSI LOC = P27;
NET cpld_SCK LOC = P31;
NET cpld_SS LOC = P32;
NET flash_A<0> LOC = P33;
NET flash_A<10> LOC = P58;
NET flash_A<11> LOC = P56;
NET flash_A<12> LOC = P43;
NET flash_A<13> LOC = P50;
NET flash_A<14> LOC = P49;
NET flash_A<15> LOC = P44;
NET flash_A<16> LOC = P45;
NET flash_A<17> LOC = P48;
NET flash_A<18> LOC = P46;
NET flash_A<1> LOC = P34;
NET flash_A<2> LOC = P35;
NET flash_A<3> LOC = P36;
NET flash_A<4> LOC = P38;
NET flash_A<5> LOC = P39;
NET flash_A<6> LOC = P40;
NET flash_A<7> LOC = P42;
NET flash_A<8> LOC = P51;
NET flash_A<9> LOC = P52;
NET flash_nOE LOC = P57;
NET flash_nWE LOC = P47;
NET <I/O/GCK1> LOC = P30;
NET <I/O/GCK2> LOC = P32;
NET <I/O/GCK3> LOC = P38;
NET <I/O/GSR> LOC = P143;
NET <I/O/GTS1> LOC = P5;
NET <I/O/GTS2> LOC = P6;
NET <I/O/GTS3> LOC = P2;
NET <I/O/GTS4> LOC = P3;
NET <cpld_TCK> LOC = PL10;
NET <cpld_TDI> LOC = PL9;
NET <cpld_TDO> LOC = PC8;
NET <cpld_TMS> LOC = PN10;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2_GCK1> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1_GCK2> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2_GCK3> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2_GCK1> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1_GCK2> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2_GCK3> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2_GCK1> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1_GCK2> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2_GCK3> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2_GCK1> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1_GCK2> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2_GCK3> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2_GCK1> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1_GCK2> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2_GCK3> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2_GCK1> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1_GCK2> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2_GCK3> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2_GCK1> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1_GCK2> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2_GCK3> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
NET <arc_RESET> LOC = A2;
NET <cpld_TCK> LOC = L10;
NET <cpld_TDI> LOC = L9;
NET <cpld_TDO> LOC = C8;
NET <cpld_TMS> LOC = N10;
NET <dummy_A10> LOC = A10;
NET <dummy_A11> LOC = A11;
NET <dummy_A12> LOC = A12;
NET <dummy_A3> LOC = A3;
NET <dummy_A4> LOC = A4;
NET <dummy_A5> LOC = A5;
NET <dummy_A6> LOC = A6;
NET <dummy_A7> LOC = A7;
NET <dummy_A8> LOC = A8;
NET <dummy_A9> LOC = A9;
NET <dummy_B10> LOC = B10;
NET <dummy_B11> LOC = B11;
NET <dummy_B13> LOC = B13;
NET <dummy_B1> LOC = B1;
NET <dummy_B4> LOC = B4;
NET <dummy_B5> LOC = B5;
NET <dummy_B6> LOC = B6;
NET <dummy_B7> LOC = B7;
NET <dummy_B9> LOC = B9;
NET <dummy_C11> LOC = C11;
NET <dummy_C12> LOC = C12;
NET <dummy_C13> LOC = C13;
NET <dummy_C1> LOC = C1;
NET <dummy_C2> LOC = C2;
NET <dummy_C3> LOC = C3;
NET <dummy_C4> LOC = C4;
NET <dummy_C5> LOC = C5;
NET <dummy_C6> LOC = C6;
NET <dummy_C9> LOC = C9;
NET <dummy_D10> LOC = D10;
NET <dummy_D11> LOC = D11;
NET <dummy_D12> LOC = D12;
NET <dummy_D13> LOC = D13;
NET <dummy_D2> LOC = D2;
NET <dummy_D3> LOC = D3;
NET <dummy_D4> LOC = D4;
NET <dummy_D5> LOC = D5;
NET <dummy_D6> LOC = D6;
NET <dummy_D7> LOC = D7;
NET <dummy_D8> LOC = D8;
NET <dummy_D9> LOC = D9;
NET <dummy_E10> LOC = E10;
NET <dummy_E12> LOC = E12;
NET <dummy_E13> LOC = E13;
NET <dummy_E1> LOC = E1;
NET <dummy_E2> LOC = E2;
NET <dummy_E3> LOC = E3;
NET <dummy_E4> LOC = E4;
NET <dummy_F10> LOC = F10;
NET <dummy_F11> LOC = F11;
NET <dummy_F12> LOC = F12;
NET <dummy_F13> LOC = F13;
NET <dummy_F1> LOC = F1;
NET <dummy_F2> LOC = F2;
NET <dummy_F3> LOC = F3;
NET <dummy_F4> LOC = F4;
NET <dummy_G10> LOC = G10;
NET <dummy_G11> LOC = G11;
NET <dummy_G2> LOC = G2;
NET <dummy_G3> LOC = G3;
NET <dummy_G4> LOC = G4;
NET <dummy_H10> LOC = H10;
NET <dummy_H11> LOC = H11;
NET <dummy_H12> LOC = H12;
NET <dummy_H13> LOC = H13;
NET <dummy_H1> LOC = H1;
NET <dummy_H2> LOC = H2;
NET <dummy_H3> LOC = H3;
NET <dummy_H4> LOC = H4;
NET <dummy_J10> LOC = J10;
NET <dummy_J11> LOC = J11;
NET <dummy_J12> LOC = J12;
NET <dummy_J1> LOC = J1;
NET <dummy_J2> LOC = J2;
NET <dummy_J3> LOC = J3;
NET <dummy_J4> LOC = J4;
NET <dummy_K10> LOC = K10;
NET <dummy_K11> LOC = K11;
NET <dummy_K12> LOC = K12;
NET <dummy_K13> LOC = K13;
NET <dummy_K2_GCK1> LOC = K2;
NET <dummy_K3> LOC = K3;
NET <dummy_K4> LOC = K4;
NET <dummy_K5> LOC = K5;
NET <dummy_K6> LOC = K6;
NET <dummy_K7> LOC = K7;
NET <dummy_K8> LOC = K8;
NET <dummy_K9> LOC = K9;
NET <dummy_L11> LOC = L11;
NET <dummy_L12> LOC = L12;
NET <dummy_L13> LOC = L13;
NET <dummy_L1_GCK2> LOC = L1;
NET <dummy_L2> LOC = L2;
NET <dummy_L3> LOC = L3;
NET <dummy_L5> LOC = L5;
NET <dummy_L6> LOC = L6;
NET <dummy_L8> LOC = L8;
NET <dummy_M10> LOC = M10;
NET <dummy_M11> LOC = M11;
NET <dummy_M13> LOC = M13;
NET <dummy_M1> LOC = M1;
NET <dummy_M3> LOC = M3;
NET <dummy_M4> LOC = M4;
NET <dummy_M6> LOC = M6;
NET <dummy_M7> LOC = M7;
NET <dummy_M8> LOC = M8;
NET <dummy_N11> LOC = N11;
NET <dummy_N12> LOC = N12;
NET <dummy_N2_GCK3> LOC = N2;
NET <dummy_N3> LOC = N3;
NET <dummy_N4> LOC = N4;
NET <dummy_N5> LOC = N5;
NET <dummy_N6> LOC = N6;
NET <dummy_N7> LOC = N7;
NET <dummy_N8> LOC = N8;
NET <dummy_N9> LOC = N9;
