*.xsvf
*.mfd
*.nga
*.ngc
*.ngd
*.xrpt
*.ngr
*.pad
*.csv
${MODULE}-${PART}.svf
*.pnx
*.rpt
*.vm6
*.xml
${MODULE}-${PART}.jed
*.lso
*.gyd
*.bld
*.err
_xmsgs
xlnx*
_ngo
*.syr
*_html
*_xdb
*.xst
*.log
*.cmd_log
*~
*.html
*.stx
*.tim
*.tspec
*.gise
*.ise
out
*.xsl
*.prj
iseconfig
xst
*.xwbt
Makefile.xilinx
