NET bbc_nTUBE LOC = P32;
NET cpu_A0 LOC = P44;
NET cpu_A1 LOC = P2;
NET cpu_A2 LOC = P3;
NET cpu_A4 LOC = P5;
NET cpu_A5 LOC = P6;
NET cpu_A6 LOC = P7;
NET cpu_A7 LOC = P36;
NET cpu_CLK LOC = P31;
NET cpu_D<0> LOC = P33;
NET cpu_D<1> LOC = P34;
NET cpu_D<2> LOC = P37;
NET cpu_D<3> LOC = P38;
NET cpu_D<4> LOC = P39;
NET cpu_D<5> LOC = P40;
NET cpu_D<6> LOC = P41;
NET cpu_D<7> LOC = P43;
NET cpu_RnW LOC = P30;
NET elk_16MHz LOC = P1;
NET elk_nINFC LOC = P42;
NET tube_A0 LOC = P22;
NET tube_A1 LOC = P29;
NET tube_A2 LOC = P28;
NET tube_CLK LOC = P8;
NET tube_D<0> LOC = P12;
NET tube_D<1> LOC = P14;
NET tube_D<2> LOC = P18;
NET tube_D<3> LOC = P13;
NET tube_D<4> LOC = P20;
NET tube_D<5> LOC = P21;
NET tube_D<6> LOC = P19;
NET tube_D<7> LOC = P16;
NET tube_RnW LOC = P27;
NET tube_nTUBE LOC = P23;
