NET cpu_A<0> LOC = P14;
NET cpu_A<1> LOC = P13;
NET cpu_A<2> LOC = P12;
NET cpu_A<3> LOC = P36;
NET cpu_A<4> LOC = P7;
NET cpu_A<5> LOC = P6;
NET cpu_A<6> LOC = P5;
NET cpu_A<7> LOC = P3;
NET cpu_CLK LOC = P1;
NET cpu_D<0> LOC = P16;
NET cpu_D<1> LOC = P19;
NET cpu_D<2> LOC = P18;
NET cpu_D<3> LOC = P39;
NET cpu_D<4> LOC = P2;
NET cpu_D<5> LOC = P40;
NET cpu_D<6> LOC = P43;
NET cpu_D<7> LOC = P42;
NET cpu_RnW LOC = P41;
NET elk_16MHz LOC = P44;
NET elk_nINFC LOC = P8;
NET tube_A0 LOC = P32;
NET tube_A1 LOC = P38;
NET tube_A2 LOC = P37;
NET tube_CLK LOC = P20;
NET tube_D<0> LOC = P22;
NET tube_D<1> LOC = P23;
NET tube_D<2> LOC = P28;
NET tube_D<3> LOC = P21;
NET tube_D<4> LOC = P30;
NET tube_D<5> LOC = P31;
NET tube_D<6> LOC = P29;
NET tube_D<7> LOC = P27;
NET tube_RnW LOC = P34;
NET tube_nTUBE LOC = P33;
NET bbc_nTUBE LOC = P36;
