LOCATE COMP "fpga_GPIO47" SITE "1" ;
IOBUF PORT "fpga_GPIO47" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO44" SITE "2" ;
IOBUF PORT "fpga_GPIO44" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO45" SITE "3" ;
IOBUF PORT "fpga_GPIO45" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO42" SITE "4" ;
IOBUF PORT "fpga_GPIO42" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO43" SITE "5" ;
IOBUF PORT "fpga_GPIO43" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO40" SITE "6" ;
IOBUF PORT "fpga_GPIO40" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO41" SITE "7" ;
IOBUF PORT "fpga_GPIO41" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO38" SITE "8" ;
IOBUF PORT "fpga_GPIO38" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO39" SITE "9" ;
IOBUF PORT "fpga_GPIO39" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO36" SITE "11" ;
IOBUF PORT "fpga_GPIO36" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO37" SITE "14" ;
IOBUF PORT "fpga_GPIO37" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO34" SITE "15" ;
IOBUF PORT "fpga_GPIO34" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO35" SITE "16" ;
IOBUF PORT "fpga_GPIO35" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "testack_noe" SITE "23" ;
IOBUF PORT "testack_noe" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "target_power_3v" SITE "27" ;
IOBUF PORT "target_power_3v" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "target_reset_noe" SITE "29" ;
IOBUF PORT "target_reset_noe" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "hotswap_noe" SITE "30" ;
IOBUF PORT "hotswap_noe" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "testreq_3v" SITE "32" ;
IOBUF PORT "testreq_3v" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO0" SITE "34" ;
IOBUF PORT "fpga_GPIO0" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO1" SITE "36" ;
IOBUF PORT "fpga_GPIO1" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO2" SITE "37" ;
IOBUF PORT "fpga_GPIO2" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_OSC_in" SITE "38" ;
IOBUF PORT "fpga_OSC_in" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO3" SITE "39" ;
IOBUF PORT "fpga_GPIO3" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO4" SITE "43" ;
IOBUF PORT "fpga_GPIO4" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO5" SITE "44" ;
IOBUF PORT "fpga_GPIO5" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO6" SITE "45" ;
IOBUF PORT "fpga_GPIO6" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO7" SITE "46" ;
IOBUF PORT "fpga_GPIO7" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO8" SITE "47" ;
IOBUF PORT "fpga_GPIO8" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO9" SITE "49" ;
IOBUF PORT "fpga_GPIO9" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO10" SITE "50" ;
IOBUF PORT "fpga_GPIO10" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO11" SITE "51" ;
IOBUF PORT "fpga_GPIO11" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO12" SITE "52" ;
IOBUF PORT "fpga_GPIO12" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO13" SITE "53" ;
IOBUF PORT "fpga_GPIO13" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO14" SITE "54" ;
IOBUF PORT "fpga_GPIO14" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO15" SITE "55" ;
IOBUF PORT "fpga_GPIO15" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO16" SITE "56" ;
IOBUF PORT "fpga_GPIO16" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO17" SITE "57" ;
IOBUF PORT "fpga_GPIO17" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO18" SITE "58" ;
IOBUF PORT "fpga_GPIO18" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO19" SITE "59" ;
IOBUF PORT "fpga_GPIO19" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO20" SITE "61" ;
IOBUF PORT "fpga_GPIO20" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO21" SITE "63" ;
IOBUF PORT "fpga_GPIO21" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO22" SITE "64" ;
IOBUF PORT "fpga_GPIO22" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO23" SITE "65" ;
IOBUF PORT "fpga_GPIO23" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO24" SITE "66" ;
IOBUF PORT "fpga_GPIO24" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO25" SITE "67" ;
IOBUF PORT "fpga_GPIO25" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO26" SITE "68" ;
IOBUF PORT "fpga_GPIO26" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO27" SITE "69" ;
IOBUF PORT "fpga_GPIO27" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO28" SITE "70" ;
IOBUF PORT "fpga_GPIO28" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO29" SITE "71" ;
IOBUF PORT "fpga_GPIO29" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO30" SITE "72" ;
IOBUF PORT "fpga_GPIO30" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO31" SITE "73" ;
IOBUF PORT "fpga_GPIO31" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO32" SITE "76" ;
IOBUF PORT "fpga_GPIO32" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO33" SITE "77" ;
IOBUF PORT "fpga_GPIO33" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "mcu_RXD" SITE "78" ;
IOBUF PORT "mcu_RXD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "mcu_TXD" SITE "79" ;
IOBUF PORT "mcu_TXD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "PA19" SITE "80" ;
IOBUF PORT "PA19" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "PA18" SITE "81" ;
IOBUF PORT "PA18" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "PA17" SITE "82" ;
IOBUF PORT "PA17" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "PA16" SITE "83" ;
IOBUF PORT "PA16" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "target_power_out" SITE "85" ;
IOBUF PORT "target_power_out" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_clock_48mhz" SITE "86" ;
IOBUF PORT "fpga_clock_48mhz" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "PA27" SITE "87" ;
IOBUF PORT "PA27" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "reset_in" SITE "89" ;
IOBUF PORT "reset_in" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_spi_miso" SITE "91" ;
IOBUF PORT "fpga_spi_miso" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_spi_cs" SITE "94" ;
IOBUF PORT "fpga_spi_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_spi_sck" SITE "95" ;
IOBUF PORT "fpga_spi_sck" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_spi_mosi" SITE "96" ;
IOBUF PORT "fpga_spi_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "PA02" SITE "97" ;
IOBUF PORT "PA02" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "PA03" SITE "98" ;
IOBUF PORT "PA03" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
LOCATE COMP "fpga_GPIO46" SITE "100" ;
IOBUF PORT "fpga_GPIO46" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=FAST OPENDRAIN=OFF INF=OFF ;
