# NET econet_clock_D LOC = P30;
# NET econet_clock_DE LOC = P32;
# NET econet_clock_R LOC = P31;
# NET econet_data_D LOC = P36;
# NET econet_data_DE LOC = P33;
# NET econet_data_R LOC = P34;
# NET collision_detect LOC = P37;
# NET D0 LOC = P18;
# NET D1 LOC = P19;
# NET D2 LOC = P20;
# NET D3 LOC = P21;
# NET D4 LOC = P22;
# NET D5 LOC = P23;
# NET D6 LOC = P27;
# NET D7 LOC = P28;
# NET nRESET LOC = P29;
# NET PA08 LOC = P6;
# NET PA09 LOC = P5;
# NET PA10 LOC = P3;
# NET PA11 LOC = P2;
# NET PA14 LOC = P1;
# NET PA15 LOC = P44;
# NET PA16 LOC = P42;
# NET PA17 LOC = P43;
# NET PA18 LOC = P41;
# NET PA19 LOC = P40;
# NET PA22 LOC = P39;
# NET PA23 LOC = P38;
# NET A0 LOC = P14;
# NET A1 LOC = P16;
# NET PHI2 LOC = P13;
# NET RnW LOC = P7;
# NET nADLC LOC = P12;
# NET nNETINT LOC = P8;
