# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Stuff on the miniSpartan board

#NET "MS_CLK50" PERIOD = 20 ns | LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM
#NET "MS_CLK32" PERIOD = 31.25 ns | LOC = "J4"; # IO_L42N_GCLK24_M3LDM_3
NET "MS_LEDS<0>" LOC="P11";
NET "MS_LEDS<1>" LOC="N9";
NET "MS_LEDS<2>" LOC="M9";
NET "MS_LEDS<3>" LOC="P9";
NET "MS_LEDS<4>" LOC="T8";
NET "MS_LEDS<5>" LOC="N8";
NET "MS_LEDS<6>" LOC="P8";
NET "MS_LEDS<7>" LOC="P7";

NET MS_SERIAL_TX LOC="M7"; # FTDI_D0
NET MS_SERIAL_RTS LOC="M6"; # FTDI_D2
NET MS_SERIAL_RX LOC="N6"; # FTDI_D1
NET MS_SERIAL_CTS LOC="P5"; # FTDI_D3

# miniSpartan SD card
NET MS_SD_SCK LOC = L12; # SD_CLK
NET MS_SD_MOSI LOC = K11; # SD_CMD
NET MS_SD_MISO LOC = M10; # SD_DAT0
# NET MS_SD_DAT1 LOC = L10; # SD_DAT1
NET MS_SD_SS LOC = J11; # SD_DAT2
# NET MS_SD_CD_DAT3 LOC = K12; # SD_CD/DAT3

# Pin mappings, worked out by hand using the local schematic and the
# miniSpartan6+ schematic, so possibly buggy.

NET ext_A<15> LOC = E7; # PORTA0
NET ext_A<14> LOC = C8; # PORTA1
NET ext_A<13> LOC = D8; # PORTA2
NET ext_A<12> LOC = E8; # PORTA3
NET ext_A<11> LOC = D9; # PORTA4
NET ext_A<10> LOC = A10; # PORTA5
NET ext_A<9> LOC = B10; # PORTA6
NET ext_A<8> LOC = C10; # PORTA7
NET ext_A<7> LOC = E10; # PORTA8
NET ext_A<6> LOC = F9; # PORTA9
NET ext_A<5> LOC = F10; # PORTA10
NET ext_A<4> LOC = D11; # PORTA11

NET ext_A<3> LOC = E11; # PORTB0
NET ext_A<2> LOC = D14; # PORTB1
NET ext_A<1> LOC = D12; # PORTB2
NET ext_A<0> LOC = E12; # PORTB3
NET ext_D<6> LOC = E13; # PORTB4
#NET ms_GPIO14 LOC = F13; # PORTB5
NET ext_D<7> LOC = F12; # PORTB6
#NET ms_GPIO12 LOC = F14; # PORTB7
NET ext_D<4> LOC = G12; # PORTB8
#NET ms_GPIO11 LOC = G14; # PORTB9
NET ext_D<5> LOC = H14; # PORTB10
#NET ms_GPIO10 LOC = J14; # PORTB11

NET ext_D<2> LOC = J13; # PORTC0
#NET ms_GPIO8 LOC = J12; # PORTC1
NET ext_D<0> LOC = K14; # PORTC2
#NET ms_GPIO7 LOC = L14; # PORTC3
NET ext_GP12 LOC = L13; # PORTC4
#NET ms_GPIO6 LOC = M14; # PORTC5
NET ext_GP10 LOC = M13; # PORTC6
#NET ms_GPIO4 LOC = N14; # PORTC7
NET ext_GP8 LOC = M12; # PORTC8
#NET ms_GPIO3 LOC = N12; # PORTC9
NET ext_GP6 LOC = P12; # PORTC10
#NET ms_GPIO2 LOC = M11; # PORTC11

NET tube_PHI0 LOC = D6; # PORTD0
NET ext_D<3> LOC = C6; # PORTD1
NET tube_D<0> LOC = E6; # PORTD2
NET ext_D<1> LOC = C5; # PORTD3

NET tube_D<3> LOC = D5; # PORTE0
NET ext_GP11 LOC = A4; # PORTE1
NET tube_D<7> LOC = G5; # PORTE2
NET ext_GP9 LOC = A3; # PORTE3
NET tube_D<2> LOC = B3; # PORTE4
NET tube_D<1> LOC = A2; # PORTE5
NET tube_D<5> LOC = B2; # PORTE6
NET tube_D<6> LOC = C3; # PORTE7
NET tube_A<0> LOC = C2; # PORTE8
NET tube_D<4> LOC = D3; # PORTE9
NET tube_RnW LOC = D1; # PORTE10
NET ext_GP7 LOC = E3; # PORTE11

NET tube_nTUBE LOC = E2; # PORTF0
NET ext_GP5 LOC = E1; # PORTF1
#NET pi_serial_RX LOC = E4; # PORTF2
NET ext_GP4 LOC = F4; # PORTF3
#NET pi_serial_TX LOC = F5; # PORTF4
NET ext_GP3 LOC = G3; # PORTF5
NET tube_nRST LOC = F3; # PORTF6
NET ext_GP2 LOC = G1; # PORTF7
NET tube_A<2> LOC = H3; # PORTF8
NET ext_GP1 LOC = H1; # PORTF9
NET tube_A<1> LOC = H2; # PORTF10
NET ext_GP0 LOC = J1; # PORTF11
NET "ext_GP0" CLOCK_DEDICATED_ROUTE = FALSE;
